.main-container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.margtop2rem {
    margin-top: 2rem;
}
.blog-heading{
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    border-bottom: 3px solid orange;
    width: 250px;
}
.box-containes-leftAndRight{
    display: flex;
}

@media screen and (max-width:400px) {
    .blog-heading{
        text-align: center;
        background-color: rgb(53, 51, 51);
        color: gold;
        width: 360px;
    }
    .box-containes-leftAndRight{
        flex-direction: column;
        gap: 5rem;
    }
}