.latest-container{
    max-width: 1300px;
    width: 100%;
    /* border: 2px solid red; */
    margin: auto;
}
.latest {
    max-width: 1150px;
    width: 100%;
    margin: 2rem auto;
}
.latest-heading{
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    border-bottom: 3px solid orange;
    width: 300px;
}
.latest-flex{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* .latest-flex img {
    width: 100%;
} */
.latest-posts {
    width: 340px;
    /* border: 2px solid; */
}
.latest-posts img{
    width: 100%;
    max-width: 340px;
    height: 220px;
}

.latest-post-text1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: self-start;
    width: 292px;
    /* border: 2px solid red; */
    margin: auto;
}
.latest-post-title-1 {
    text-align: left;
    font-size: 30px;
    letter-spacing: 0px;
    color: #404040;
    opacity: 1;
}
.latest-flex p {
    text-align: left;
    font-size: 17px;
    letter-spacing: 0px;
    color: #908D8D;
    opacity: 1;
}
.latest-home-type {
    font-weight: 400;
    text-align: center;
}

.latest-home-date {
    opacity: 0.6;
}
.latest-post-date1{
    text-align: left;
}

@media screen and (max-width : 400px) {
    .latest-flex{
        flex-direction: column;
        gap: 2.5rem;
    }
    .latest-heading{
        text-align: center;
        background-color: rgb(53, 51, 51);
        color: gold;
        width: 360px;
    }
}