.intro-container a{  
    color :white;
}
.intro-container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
}
.introSec{
    max-width: 1150px;
    width: 100%;
    display: grid;
    margin: auto;
    grid-gap: 1rem;
    grid-template-columns: 5fr 2fr;
}
.introImg1 img{
    /* background-image: url(../../../images/introPhotoCover.PNG); */
    /* background-size: cover; */
    /* background-position-y: -150px; */
    /* background-repeat: no-repeat; */
    border-radius: 0.5rem;
    /* position: relative; */
    height: 355px;
    filter: brightness(0.3);
}
.introImg1 a {
    text-decoration: none;
    color: white;
}
.introImg2 {
    /* background-image: url(../../../images/introCoverImg2.PNG); */
    background-size: cover;
    /* background-position-y: -32px; */
    height: 170px;
    border-radius: 0.5rem;
    position: relative;
    margin-bottom: 1rem;
}
/* .introImg3{
    background-image: url(../../../images/introCoverPhoto3.PNG);
    background-size: cover;
    height: 170px;
    margin-top: 1rem;
    border-radius: 0.5rem;
    opacity: 1;
    position: relative;
} */
.home-hero-title {
    font-size: 40px;
    color: white;
    position: absolute;
    top: 50%;
    left: 10%;
}
.home-hero-title-date {
    font-size: 18px;
    color: white;
    opacity: 0.9;
    text-align: left;
}
.home-second-title{
    font-size: 18px;
    color: white;
    position: absolute;
    top: 45%;
    text-align: left;
    left: 5%;
}
@media screen and (max-width: 1070px) {
 .intro-container{
     max-width: 1000px;
 }
 .introSec{
     max-width: 910px;
     grid-template-columns: 4fr 2fr;
     grid-gap: 0.5rem;
 }
 .introImg1{
     /* height: 350px; */
     background-position-y: -120px;
 }
 .introImg2{
     height: 130px;
 }
 .introImg3{
     height: 130px;
     margin-top: 0.5rem;
 }
}

@media screen and (max-width: 900px) {
    /* .home-second-title {
        font-size: 25px;
    } */

    .home-second-title {
        font-size: 25px;
    }

    .introSec {
        grid-template-columns: 2fr 1fr;
        max-width: 800px;
     /* grid-template-columns: 4fr 2fr; */
        grid-gap: 0.5rem;
    }
}

@media screen and (max-width:400px) {
    .introSec{
        grid-template-columns: 1fr;
    }
    .intro-container{
        padding: 5px;
    }
    .introImg1{
        border: 2px solid black;
        max-width: 358px;
        width: 100%;
    }
    .introImg2{
        display: none;
    }
    .introImg3{
        display: none;
    }
}