.mtp{
    margin-top: 1rem;
}
.mtb{
    margin-bottom: 1rem;
}
.singlePost-cont{
    width: 100%;
    max-width: 770px;   
    margin: 1rem auto;
    /* border: 2px solid black; */
}
.single-post-title{
    /* border: 2px solid red; */
    font-size: 40px;
    font-weight: 500;
}
.auhtor-details{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    /* border: 2px solid grey; */
}
.author-img-name-date{
    /* border: 1px dashed green; */
    display: flex;
    width: 100%;
    max-width: 270px;
    justify-content: space-around;
    align-items: center;
}
.author-img-name-date img {
    width: 100px;
}
.author-nameAndDate{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.author-name-spanbox{
    font-size: 20px;
    font-weight: 600;
}

.share-btns {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    color: #A2A2A2;
    font-size: 2rem;
    opacity: 0.7;
    margin: 1rem 1rem;

}

.singlePost-Image{
    margin-top: 2rem;
}
.singlePost-Image img {
  width: 100%;
  height: 360px;
}
.singlePost-desc{
    margin-top: 2rem;
    /* border: 1px solid hotpink; */
    font-size: 17px;
    text-align: start;
}
.keyWords{
    /* border: 2px solid forestgreen; */
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.keyWords h4{
    text-align: start;
    /* display: block; */
}
.keyWord-ofPost{
    /* border: 1px solid red; */
    font-size: 20px;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
}
.keysOfPost{
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.claps{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    /* border: 1px solid; */
    padding: 0.5rem 0.5rem;
}
.claps span {
    font-weight: 900;
}

.moreFromTheSiren{
    /* border: 2px solid red; */
    max-width: 1300px;
    width: 100%;
    margin: auto;
    margin-top: 3rem;
}
#heading-moreFromTheSiren{
    text-align: left;
    
    font-weight: 600;
    border-bottom: 3px solid orange;
    width: 270px; 
}
.moreSirens-flex{
    margin-top: 2rem;
}
.relatedPosts{
    /* border: 2px solid blue; */
    width: 345px;
}
.relatedPosts img {
    /* align-items: flex-start; */
    width: 340px;
    height: 200px;
}
.tilteOfSiren{
    font-size: 30px;
    font-weight: 400;
    text-align: left;
}

.moreSiren-author-img-name-date{
    display: flex;
    width: 100%;
    max-width: 270px;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}
.moreSiren-author-img-name-date img{
    width: 100px;
    height: 100px;
}

.moreSirens-flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (max-width:400px) {
    .singlePost-cont{
        max-width: 400px;
        padding: 5px 10px;
    }
    .single-post-title{
        font-size: 25px;
    }
    .author-img-name-date{
        max-width: 290px;
    }
    .author-img-name-date img{
        width: 85px;
    }
    .author-name-spanbox{
        font-size: 23px;
    }
    .author-date-spanbox{
        font-size: 18px;
    }
    .auhtor-details{
        flex-direction: column-reverse;
    }
    .share-btns{
        gap: 1.5rem;
        justify-content: start;
    }
    .singlePost-desc p{
        font-size: 15px;
    }
    .moreFromTheSiren{
        max-width: 400px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .moreSirens-flex{
        flex-direction: column;
        margin-top: 1rem;
    }
    .relatedPosts{
        margin: 1.5rem 3px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .moreSiren-author-img-name-date{
        margin-left: 25px;
    }
    #heading-moreFromTheSiren{
        width: 205px;
    }
}