.logIn-cont{
    /* border: 2px solid red; */
    width: 100%;
    max-width: 600px;
    margin: auto;
    background-color: rgb(73, 73, 73);
    color: white;
}
.form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.WelcomeHeading{
    text-align: center;
}
.form input{
    border-style: none;
    background: transparent;
    outline: none;
    flex-grow: 1;
  font-size: 1.8rem;
  line-height: 2.4rem;
  vertical-align: middle;
  border-bottom: 2px solid gold;
  border-right: 2px solid gold;
  border-bottom-right-radius: 15px;
}
.form button{
    border-radius: 15px;
    padding: 0.5rem 1.5rem;
    color: gold;
    background-color: rgb(73, 73, 73);
    font-size: 25px;
}