.main-container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.margtop2rem {
    margin-top: 2rem;
}
.blog-heading{
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    border-bottom: 3px solid orange;
    width: 250px;
}
.box-containes-leftAndRight{
    display: flex;
}

@media screen and (max-width:400px) {
    .blog-heading{
        text-align: center;
        background-color: rgb(53, 51, 51);
        color: gold;
        width: 360px;
    }
    .box-containes-leftAndRight{
        flex-direction: column;
        gap: 5rem;
    }
}


/* .main-container{
    border: 2px solid black;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
.articles-thumbnail{
    border: 2px dashed grey;
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    max-width: 900px;
    width: 100%;
    padding: 1rem;
}
.blog-heading{
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    border-bottom: 2px solid orange;
    width: 300px;
}
hr{
    width: 100%;
    color: blue;
}
.box-containes-leftAndRight{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.advertisement-box {
    width: 350px;
    height: 618px;
    border: 2px solid #707070;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
} */