.LatestArticles-Container a{
    color: black;
}
.LatestArticles-Container{
    max-width: 1150px;
    width: 100%;
    margin: auto;
    /* border: 2px solid red; */
}

.heading-home-latest{
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    border-bottom: 3px solid orange;
    width: 300px;
}

.LatestArticles{
    /* border: 2px solid darkgreen; */
    gap: 1rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* margin: 2rem auto; */
}
.article-heading-home-flex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    width: 470px;
}
.dataOfArticles{
    /* border: 2px solid forestgreen; */
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    max-width: 900px;
    width: 100%;
    /* box-sizing: border-box; */
    padding: 1rem;
}
.dataOfArticles img {
    width: 100%;
    max-width: 260px;
}
.latest-post-title-1 {
    font-size: 22px;
    font-weight: 400;
}
.latest-post-title-1 p{
    font-size: 17px;
}
.articles-left-home hr{
    width: 100%;
    margin-top: 2rem;
}
.articles-left-home{
    box-sizing: border-box;
}
.ArticleImg{
    margin-top: 3rem;
    /* background-image: url(../../../images/introCoverPhoto3.PNG); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -300px;
    /* border: 2px solid black; */
    height: 437px;
    position: relative;
}


.advertisement-box {
    width: 350px;
    height: 618px;
    border: 2px solid #707070;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.top-post-homePhoto{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
}

.top-post-homePhoto img{
   width: 305px;
   height: 250px;
}

.date-on-top-post{
    text-align: left;
}
.top-post-home img{
  width: 340px;
}
.margtop1rem {
    margin-top: 1rem;
}

.margtb2rem {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.top-post-section-side{
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.top-post-section-side img {
    height: 100px;
    width: 150px;
}

@media screen and (max-width: 400px) {
    .LatestArticles {
        gap: 1rem;
        display: grid;
        grid-template-columns: 1fr;
    }
    .heading-home-latest{
        text-align: center;
        background-color: rgb(53, 51, 51);
        color: gold;
        width: 360px;
    }
    .dataOfArticles{
        /* border: 1px solid red; */
        max-width: 356px;
        width: 100%;
    }
    .dataOfArticles img {
        max-width: 120px;
        width: 100%;
        height: 117px;
    }
    .article-heading-home-flex p {
        display: none;
    }
    .ArticleImg{
        background-position-y: -19px;
       
        margin: 25px 6px 0 6px;
    }
    .advertisement-box{
        margin: 3px;
        height: 316px;
        margin-top: -40px;
        width: 355px;
    }
    .top-post-homePhoto img{
        width: 348px;
        /* border: 1px solid black; */
       margin: 6px;
    }    
    .latest-post-title-1{
        text-align: center;
    }
    .date-on-top-post{
        text-align: center;
    }

    .top-post-home{
        padding: 7px;
    }
    .top-post-section-side img {
        /* width: 120px; */
        /* border: 1px solid black; */
        margin: 5px;
    }
}